* {
  font-family: 'Lato', sans-serif !important;
  color:#333;
}

/* Customize container */
@media (min-width: 992px) {
  .container {
    max-width: 950;
  }
}

p {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;  
}

p.text-primary {
  color: #008BF5;
  font-size: 28px;
  line-height: 39px;
  font-weight: 400;
}

p.text-primary:hover {
  color: #008BF5;
}

h3 {
  color: #4A4A4A;
}

h2 {
  font-size: 37px;
  font-weight: 700;
  color: #4A4A4A;
  line-height: 45px;
}

h4 {
  font-size: 20px;
  line-height: 1.4em;
  padding: 10px 0 10px 0;
  color: #333;
}

/* Applies a grey border to a div */
.grey-border {
  background: #FFFFFF;
  border: 1px solid #979797;
}

.padded { 
  padding: 40px 0px 45px 0px;
}

@media (min-width: 992px) {

  .padded {
    padding: 80px 0px 90px 0px;
  }
}

/* Header */


.page-header {
  border-bottom: 0px solid; /* Overriding default for bootstrap */
  margin-top: 5px;
  margin-bottom: 70px;
}

.page-header .row {
  text-align: center;
}

.page-header .logo {
  height: 40px;
  width: 40px;
  vertical-align: top;
  margin-top: 5px;
}

.page-header .text {
  display: inline-block;
}

.page-header .inforum {
  font-weight:400;
  font-size: 48px;
  color: #E67E22;
  line-height: 48px;
}

.page-header .at-the {
  display: block;
  font-weight: 300;
  font-size: 15px;
  color: #BBB;
  line-height: 17px;
  letter-spacing: 0px;
  white-space: normal;
}

.page-header .social {
  padding-top:20px;
  display: inline-block;
}

.page-header .expand {
  text-transform:uppercase;
  display: block;
  font-weight: 400;
  font-size: 32px;
  color: #4A4A4A;
  line-height: 36px;
  letter-spacing: 12px;
  padding-top: 70px;
  padding-bottom: 20px;
}

.page-header .meet {
  display: block;
  text-transform:uppercase;
  font-size: 32px;
  color: #3498DB;
  letter-spacing: 3px;
  line-height: 36px;
  font-weight: 800;
}

@media (min-width: 992px) {

  .logo-box {
    text-align: left;
  }

  .page-header .logo {
    height: 56px;
    width: 56px;
    vertical-align: top;
    margin-top: 12px;
  }

  .page-header .text {
    display: inline-block;
  }

  .page-header .inforum {
    text-align: left;
    font-weight:400;
    font-size: 72px;
    color: #E67E22;
    line-height: 72px;
  }

  .page-header .at-the {
    display: block;
    font-weight: 300;
    font-size: 17px;
    color: #BBB;
    line-height: 17px;
    letter-spacing: 0px;
    margin-left: 65px;
  }

  .page-header .social {
    padding-top:20px;
    float: right!important;
  }

  .page-header .expand {
    text-transform:uppercase;
    display: block;
    font-weight: 400;
    font-size: 47px;
    color: #4A4A4A;
    line-height: 47px;
    letter-spacing: 12px;
    padding-top: 70px;
    padding-bottom: 10px;
  }

  .page-header .meet {
    display: block;
    text-transform:uppercase;
    font-size: 47px;
    color: #3498DB;
    line-height: 47px;
    font-weight: 800;
    letter-spacing: 0px;
  }
}

.page-header .past-talks {
  text-transform:uppercase;
  padding-top: 50px;
  font-weight: 300;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 5px;
  color: #666;
  padding-bottom: 10px;
}

.page-header .past-talks strong {
  font-size: 17px;
  font-weight: 700;
  color: #666;
}

.thumb {
  height: 80px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  
}

.thumb img {
  width: 64px;
  height:64px;
  margin-left:-7px;
  margin-right:15px;
  vertical-align: middle;
}

.thumb .thumb-detail {
  display: inline-block;
  width: 70%;
  vertical-align: middle;
}

.thumb p.speaker-name {
  text-align: left;
  font-weight: 300;
  font-size: 20px;
  color: #777;
  line-height: 21px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.thumb p.speaker-detail {
  display:none;
  text-align: left;
  font-size: 14px;
  color: #777;
  line-height: 15px;
  margin: 0px;
}

.thumb p.program-title {
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  color: #777;
  line-height: 15px;
  margin: 0px;
} 

@media (min-width: 992px) {

  .thumb {
    height: 250px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
  }

  .thumb img {
    width: 162px;
    height:162px;
    vertical-align: middle;
    margin-left:0px;
    margin-right:0px;
  }

  .thumb .thumb-detail {
    display: block;
    width: 100%;
    vertical-align: top;
  }

  .thumb p.speaker-name {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: #777;
    line-height: 24px;
    margin-bottom: 0px;
    margin-top: 15px;
  }

  .thumb p.speaker-detail {
        display: block;
    text-align: center;
    font-size: 14px;
    color: #777;
    line-height: 23px;
    margin: 0px;
  }

  .thumb p.program-title {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    color: #777;
    line-height: 23px;
    margin: 0px;
  } 

}

/* Description */
.description {
  background: #000 url('/images/background-crowd.jpg') repeat fixed;
  background-size: 100%;
  margin-top:30px;
}

.description h3 {
  font-weight: 300;
  text-transform:uppercase;
  font-size: 33px;
  color: #FFFFFF;
  font-weight: 300;
  line-height: 40px;
  margin: 10px;
}

.description h3 strong {
  font-weight: 600;
  color: #FFFFFF;
  line-height: 40px;
  text-transform:uppercase;
}

@media (min-width: 992px) {
  /* Description */
  .description {
    background: #000 url('/images/background-crowd.jpg') repeat fixed;
    background-size: 100%;
    margin-top:80px;
  }
  
  .description h3 {
    font-weight: 300;
    text-transform:uppercase;
    font-size: 33px;
    color: #FFFFFF;
    font-weight: 300;
    line-height: 40px;
  }
  
  .description h3 strong {
    font-weight: 600;
  }
}




.description .btn {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 300;
  margin-top: 30px;
  font-size: 23px;
  line-height: 29px;
  background: #3498DB;
  border-radius: 8px;
  border-color: #3498DB;
}

/* three up */
.three-up .make {
  display: block;
  text-transform:uppercase;
  font-weight: 300;
  font-size: 42px;
  color: #4A4A4A;
  line-height: 42px;
  padding-bottom: 20px;
}

.three-up .connect {
  display: block;
  text-transform:uppercase;
  font-size: 47px;
  color: #3498DB;
  line-height: 47px;
  font-weight: 800;
  margin-bottom:50px;
}

.three-up img {
  height: 240px;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.three-up h3 {
  text-transform:uppercase;
  font-size: 35px;
  color: #4A4A4A;
  line-height: 42px;
  font-weight: 400;
}

.three-up h3 strong {
  text-transform:uppercase;
  font-size: 35px;
  color: #4A4A4A;
  line-height: 42px;
  font-weight: 600;
}

.three-up p {
  font-weight: 300;
  font-size: 22px;
  color: #4A4A4A;
  line-height: 34px;
  margin-bottom: 50px;
}

.three-up .btn {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 300;
  margin-top: 30px;
  font-size: 23px;
  line-height: 29px;
  background: #3498DB;
  border-radius: 8px;
  border-color: #3498DB;
}



@media (min-width: 992px) {
  .three-up .btn {
    margin-top: 90px;
    font-size: 32px;
    color: #FFFFFF;
    line-height: 38px;
    font-weight:400;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #3498DB;
    border-radius: 8px;
    border-color: #3498DB;
  }
  
  .three-up .make {
    padding-bottom: 10px;
  }
  
  .three-up p {
      margin-bottom: 0px;
  }
}

.three-up .button p {
  margin-top:15px;
  font-weight: 300px;
  font-size: 18px;
  color: #4A4A4A;
  line-height: 19px;
  margin-bottom: 0px;
}

/* Quotes */

.quotes { 
  background: #000 url('/images/inforum-light.jpg') repeat fixed;
  background-size: 100%;
}

.quotes h2 {
  font-weight: 400;
  font-size: 59px;
  color: #FFFFFF;
  line-height: 72px;
}

.quotes p {
  font-weight: 300;
  font-size: 29px;
  color: #FFF;
  line-height: 29px;
}

/* Recent Photos */

.recent-photos h3 {
  text-transform:uppercase;
  font-weight: 300;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 5px;
  color: #666;
  padding-bottom: 10px;
}

.recent-photos h3  strong {
  font-size: 17px;
  font-weight: 700;
  color: #666;
}

.recent-photos img {
  border: none;
}

.event-photo-holder {
  overflow: hidden;
  margin-top:10px;
  padding-right: 5px;
  padding-left: 5px;
}

/* CWC */
.cwc h3 {
  font-weight: 400;
  font-size: 34px;
  color: #3498DB;
  line-height: 42px;
  text-align: center;
}

.cwc p {
  font-weight: 300;
  font-size: 20px;
  color: #444;
  line-height: 36px;
  margin-top: 30px;
}

.cwc strong {
  font-weight: 500;
}

.cwc .orange {
  font-weight: 300;
  font-size: 24px;
  color: #FB9E4A;
  line-height: 33px;
  text-align: center;
}

.cwc .orange strong {
  font-size: 24px;
  font-weight: 500;
  color: #FB9E4A;
}


/* Conversation */

.conversation h3 {
  text-transform:uppercase;
  font-size: 37px;
  color: #4A4A4A;
  line-height: 44px;
  font-weight: 400;
  margin-bottom: 30px;
}

.conversation h3 strong {
  font-weight: 800;
}

.conversation p {
  margin-top: 30px;
  font-size: 18px;
  color: #4A4A4A;
  line-height: 19px;
}

.conversation .button p {
  margin-top:15px;
  font-weight: 300px;
  font-size: 16px;
  color: #4A4A4A;
  line-height: 19px;
}

.conversation .btn {
  font-size: 30px;
  line-height: 38px;
  color: #FFFFFF;
  font-weight:300;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #3498DB;
  border-radius: 8px;
  border-color: #3498DB;
  white-space: normal;
}

@media (min-width: 992px) {

  .conversation .btn {
    font-size: 32px;
    color: #FFFFFF;
    line-height: 38px;
    font-weight:400;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #3498DB;
    border-radius: 8px;
    border-color: #3498DB;
  }
  
}

/* Stay Informed */

.stay-informed {
  background: #000 url('/images/gg-park.jpg');
  background-size: auto 100%;
  background-position: bottom;
}

@media (min-width: 992px) {

  .stay-informed {
    background: #000 url('/images/gg-park.jpg');
    background-size: 100%;
    background-position: top;
  }

}

.blue-alpha {
  background-color: rgba(0, 0, 0, 0.6);
}

.stay-informed .container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.stay-informed h4 {
  text-transform:uppercase;
  font-weight: 600;
  font-size: 22px;
  color: #FFF;
  line-height: 22px;
  padding-bottom:0px;
}

.stay-informed p {
  font-weight: 300;
  font-size: 20px;
  color: #FFF;
  line-height: 21px;
  padding-bottom:20px;
}

.stay-informed .email {
  border-radius: 4px;
  background: #FFFFFF;
  border: 1px solid #979797;
  height: 53px;  
  margin-right: 10px;
}

.stay-informed .btn {
  font-size: 21px;
  background: #3498DB;
  line-height: 26px;
  border-radius: 8px;
  border: 2px solid #3498DB;
  height: 53px;  
}

.bottom-actions h4 {
  padding-top: 50px;
}

/* Page footer */

.page-footer {
  margin-top: 400px;
}

.page-footer p {
  color: #FFFFFF;
  text-align: center;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
}

.page-footer a {
  color: #FFFFFF;
}

.page-footer i {
  padding-left: 20px;
  padding-right: 20px;
  color: #FFF;
}

/* Social Icons */
.social-icon-top {
  height:32px;
  width:32px;
  display:inline-block;
}

.social-icon-bottom {
  height:48px;
  width:48px;
  display:inline-block;
}

.image-top {
  width: 32px;
  height: 32px;
  position: relative;
}

.image-bottom {
  width: 48px;
  height: 48px;
  position: relative;
}

.instagram-icon {
  background: url('/images/instagram.png');
  background-size: 100%;
}

.twitter-icon {
  background: url('/images/twitter.png');
  background-size: 100%;
}

.facebook-icon {
  background: url('/images/facebook.png');
  background-size: 100%;
}



