* {
  font-family: 'Alegreya Sans', sans-serif !important;
}

/* Customize container */
@media (min-width: 950px) {
  .container {
    max-width: 950;
  }
}

h3 {
  font-size: 24px;
  color: #4A4A4A;
  line-height: 29px;
}

h2 {
  font-size: 37px;
  color: #4A4A4A;
  line-height: 45px;
}

/* Applies a grey border to a div */
.grey-border {
  background: #FFFFFF;
  border: 1px solid #979797;
}

/* Header */
.page-header .inforum {
  font-size: 72px;
  color: #008BF5;
  line-height: 87px;
  display: inline-block;
}

.page-header .at-the {
  font-size: 17px;
  color: #D8D8D8;
  line-height: 20px;
}

.page-header .commonwealth-club {
  font-size: 26px;
  color: #4A4A4A;
  line-height: 32px;
}

.page-header {
  border-bottom: 0px solid; /* Overriding default for bootstrap */
  margin-top: 20px;
}

/* Hero Unit */
.hero {
  margin-top: 35px;
}

.hero .row {
  margin-bottom: 15px;
}

/* Description */
.row.description {
  padding-top:40px;
}

.row.description p{
  padding-top:15px;
}

.row.description .btn{
  margin-top:30px;
}

/* Quotes */ 
.row.quotes {
  padding-top:60px;
}

.quotes blockquote {
  border-right: 0px;
  font-size: 26px;
  color: #9B9B9B;
  line-height: 32px;
}

/* Event Photos */

.event-photo-holder {
  height: 200px;
  overflow: hidden;
}

.event-photo-holder img {
  min-height: 100%;
  min-width: 100%;
}

/* Timeline */

.timeline {
  padding-top: 30px;
}

/* Well */
.well {
  margin-top:50px;
  font-size: 16px;
  line-height: 19px;
  color: #4A4A4A;
  background: #F7F7F7;
  border: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.well p {
  margin-top: 20px;
}

/* The INFORUM division: */
.well .inforum {
  font-size: 24px;
  line-height: 29px;
}

/* Conversations */
.conversations {
  margin-top: 60px;
}

/* Social Icons */
.social-icon {
  padding: 10px;
}
