* {
  font-family: 'Lato', sans-serif;
  color:#333;
}

/* Customize container */
@media (min-width: 992px) {
  .container {
    max-width: 950;
  }
}

p {
  font-size: 24px;
  line-height: 34px;
  font-weight: 300;  
}

p.text-primary {
  color: #008BF5;
  font-size: 28px;
  line-height: 39px;
  font-weight: 400;
}

p.text-primary:hover {
  color: #008BF5;
}

h3 {
  color: #4A4A4A;
}

h2 {
  font-size: 37px;
  font-weight: 700;
  color: #4A4A4A;
  line-height: 45px;
}

h4 {
  font-size: 20px;
  line-height: 1.4em;
  padding: 10px 0 10px 0;
  color: #333;
}

/* Applies a grey border to a div */
.grey-border {
  background: #FFFFFF;
  border: 1px solid #979797;
}

.padded { 
  padding: 40px 0px 45px 0px;
}

@media (min-width: 992px) {

  .padded {
    padding: 80px 0px 90px 0px;
  }
}

/* Header */
.page-header {
  border-bottom: 0px solid; /* Overriding default for bootstrap */
  margin-top: 20px;
}

.page-header .logo {
  height: 56px;
  vertical-align: top;
  margin-top: 12px;
}

.page-header .text {
  display: inline-block;
}

.page-header .inforum {
  font-family: Lato-Light;
  font-size: 72px;
  color: #E67E22;
  line-height: 72px;
  display: block;
}

.page-header .at-the {
  display: block;
  font-family: Lato-Light;
  font-size: 17px;
  color: #AAA;
  line-height: 17px;
  letter-spacing: 0px;
  margin-left: 5px;
}

.page-header .expand {
  text-transform:uppercase;
  display: block;
  font-family: Lato-Light;
  font-size: 47px;
  color: #4A4A4A;
  line-height: 54px;
  letter-spacing: 12px;
  padding-top: 70px;
  padding-bottom: 10px;
}

.page-header .meet {
  display: block;
  text-transform:uppercase;
  font-size: 47px;
  color: #3498DB;
  line-height: 35px;
  font-weight: 800;
}

.page-header .past-talks {
  text-transform:uppercase;
  padding-top: 75px;
  font-family: Lato-Light;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 5px;
  color: #A8A8A8;
  padding-bottom: 30px;
}

.page-header .past-talks strong {
  font-size: 20px;
  color: #A8A8A8;
}

.page-header .speakers {
  height: 287px;
}

.thumb img {
  width: 162px;
  height:162px;
}

.thumb p.speaker-name {
  font-family: Lato-Light;
  font-size: 20px;
  color: #888;
  line-height: 24px;
  margin-bottom: 0px;
  margin-top: 15px;
}

.thumb p.speaker-detail {
  font-size: 14px;
  color: #888;
  line-height: 23px;
  margin: 0px;
}

.thumb p.program-title {
  font-size: 14px;
  color: #4A4A4A;
  line-height: 23px;
  margin: 0px;
} 

#tile1, #tile2, #tile3 {
  display: none;
}

@media (min-width: 768px) {

  .page-header .inforum {
    font-size: 72px;
  }
 
  .page-header h2 {
    font-size: 47px;
    line-height: 45px;
  }

  #tile1, #tile2, #tile3 {
    display: block;
  }
}

/* Description */


.description {
  background: #3498DB;
}

@media (min-width: 992px) { 

  .description {
    background: #3498DB url('/images/background-crowd.png') repeat fixed;
  }

  .description .container {
    padding-left: 0px;
  }

}

.description h3 {
  text-transform:uppercase;
  font-size: 33px;
  color: #FFFFFF;
  line-height: 39px;
}

/* three up */
.three-up img {
  border: 10px solid #3498D8; 

}

.three-up h3 {
  font-size: 33px;
  color: #3498DB;
  line-height: 39px;
}

.three-up p {
  font-size: 22px;
  color: #4A4A4A;
  line-height: 34px;
}

.three-up .btn {
  margin-top: 30px;
  border-radius: 8px;
  background: #3498DB;
  font-size: 32px;
  color: #FFFFFF;
  line-height: 38px;
  padding: 30px;
}

/* Quotes */

.quotes { 
  background: #3498DB url('https://scontent-b-sea.xx.fbcdn.net/hphotos-frc3/t31.0-8/291421_10151947338964057_359330140_o.jpg') repeat fixed;
}

.quotes h2 {
  text-transform:uppercase;
  font-size: 59px;
  color: #FFFFFF;
  line-height: 71px;
}

.quotes h3 {
  font-size: 33px;
  color: #FFFFFF;
  line-height: 39px;
  text-transform:uppercase;
}

.row.quotes {
  padding-top:60px;
}

.quotes blockquote {
  border-right: 0px;
  font-size: 26px;
  color: #9B9B9B;
  line-height: 32px;
}

/* Recent Photos */

.recent-photos h3 {
  text-transform:uppercase;
  font-size: 34px;
  color: #4A4A4A;
  line-height: 40px;
  padding-bottom: 15px;
}

.recent-photos img {
  border: none;
}

.event-photo-holder {
  height: 200px;
  overflow: hidden;
  margin-top:10px;
}

.event-photo-holder img {
  min-height: 100%;
  min-width: 100%;
}

/* CWC */

.cwc {
  background: #333 url('https://scontent-b-sea.xx.fbcdn.net/hphotos-frc3/t31.0-8/291421_10151947338964057_359330140_o.jpg') repeat fixed;
}

.cwc h3 {
  font-size: 38px;
  color: #3498DB;
  line-height: 45px;
}

.cwc p {
  font-size: 22px;
  color: #FFFFFF;
  line-height: 33px;
}

.cwc strong {
  font-size: 28px;
  color: #FB9E4A;
  line-height: 33px;
}

/* Conversation */

.conversation h3 {
  text-transform:uppercase;
  font-size: 37px;
  color: #4A4A4A;
  line-height: 44px;
}

.conversation p {
  margin-top: 30px;
  font-size: 18px;
  color: #4A4A4A;
  line-height: 19px;
}

.conversation .btn {
  margin-top: 30px;
  border-radius: 8px;
  background: #3498DB;
  font-size: 32px;
  color: #FFFFFF;
  line-height: 38px;
  padding: 30px;
}

.conversation .right-side {
  background: #333;
  height: 400px;
}

/* Stay Informed */

.stay-informed .email {
  border-radius: 4px;
  background: #FFFFFF;
  border: 1px solid #979797;
  height: 53px;  
  margin-right: 10px;
}

.stay-informed .btn {
  font-size: 21px;
  color: #3498DB;
  line-height: 26px;
  border-radius: 8px;
  background: #FFFFFF;
  border: 2px solid #3498DB;
  height: 53px;  
}

/* Page footer */

.page-footer {
  color: #999;
  text-align: center;
  margin: 80px 0 60px 0;
}

.page-footer a {
  color: #999;
}

.page-footer i {
  color: #999;
  font-size: 10px;
  margin: 0 20px 0 20px;
}

/* Social Icons */
.social-icon {
  padding: 10px;
  height:64px;
  width:64px;
  display:inline-block;
}

.image {
  width: 64px;
  height: 64px;
  position: relative;
}

.image.instagram-icon {
  background: url('/images/instagram.png');
}
.image.twitter-icon {
  background: url('/images/twitter.png');
}
.image.facebook-icon {
  background: url('/images/facebook.png');
}

.image:hover > .overlay {
  width:100%;
  height:100%;
  position:absolute;
  background-color:#000;
  opacity:0.3;
  border-radius:30px;
}



